/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */

table[class=body]{
  @media only screen and (max-width: $width+40) {

    // Type
    h1,
    h2,
    h3,
    h4 {
      font-weight: 600 !important;
    }

    h1 {
      font-size: 22px !important;
    }

    h2 {
      font-size: 18px !important;
    }

    h3 {
      font-size: 16px !important;
    }
    .middle {
      padding: 5px 2px !important;
      background-color: #0ff !important;
      padding-top: 8% !important ;
      font-size: 14px !important;
      line-height: 0 !important; 
    }
    .items {
      padding-top: 2% !important;
     font-size: 14px !important;
    }
    .darker {
      font-size: small !important;
    }
    .light {
      line-height: 2;
    }

    // Spacing
    .content,
    .wrapper {
      padding: 10px !important;
    }

    .container {
      padding: 0 !important;
      width: 100% !important;
    }

    // Buttons
    .btn table,
    .btn a {
      width: 100% !important;
    }
  }
}
