---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
      <div class="image"><img src="../src/img/andela-long.png" height="50" alt="andela-logo"></div>
      
            <p id="formalities"> Hi Cesar,</p>
            <h1 id="thank">Thanks for subscribing to our blog!</h1>
            <div class="middle"><p class="items">YOUR PASS TO GREAT CONTENT ON HOW TO SCALE YOUR TECH TEAM</p>
            <p class="light">In the meantime, check out this recent recording of one of our favourite webinars featuring Tray Lewin, CTO 
              of connect:<a href="google.com">How To Build a Distributed Tech Team</a>
              <p><span class="darker">Get in touch:</span> <span class="lighter">[646]-726-400 andela.com</span></p>
            </div>
            <div id="logos">
              <a href=""><img src="../src/img/Facebook.png" height="20" alt="andela-logo"></a>
            <a href=""><img src="../src/img/Twitter.png" height="20" alt="andela-logo"></a>
            <a href=""><img src="../src/img/LinkedIn.png" height="20" alt="andela-logo"></a>
            </div>
          </div>  
      </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_lee }}</p>
      </td>
    </tr>
  </table>
</div>
